                        switch (proto.get{{oneofProtoName}}Case()) {
{{#oneOfFieldsData}}
                            case {{oneofFieldCase}}: {
    {{#hasConverter}}
        {{^mapToDomainField}}
                                {{converterFullName}} {{converterVariable}} = new {{converterFullName}}();
                                {{oneofImplClass}} {{oneofImplVariable}} = {{converterVariable}}.toDomainValue(proto.get{{oneOfProtoField}}());
        {{/mapToDomainField}}
    {{/hasConverter}}
    {{^hasConverter}}
        {{#builderData}}
                                var domainBuilder = {{oneofImplClass}}.{{builderMethodName}}();
            {{#useConstructorParams}}
                {{#constructorParameter}}
{{> oneof_builder_to_domain}}
                {{/constructorParameter}}
            {{/useConstructorParams}}
            {{^useConstructorParams}}
                {{#fieldData}}
{{> oneof_builder_to_domain}}
                {{/fieldData}}
            {{/useConstructorParams}}
                                {{oneofImplClass}} {{oneofImplVariable}} = domainBuilder.{{buildMethodName}}();
        {{/builderData}}
        {{^builderData}}
            {{#constructorParameter}}
                                {{oneofImplClass}} {{oneofImplVariable}} = new {{oneofImplClass}}(
                {{#hasConverter}}
                                    new {{converterFullName}}().toDomainValue(proto.{{protoGetterMethod}}())
                {{/hasConverter}}
                {{^hasConverter}}
                                    {{{convertProtoValue}}}
                {{/hasConverter}}
                                );
            {{/constructorParameter}}
            {{^constructorParameter}}
                {{#mapToDomainField}}
                    {{#fieldData}}
                                    {{oneofImplClass}} {{oneofImplVariable}} = new {{oneofImplClass}}();
                                    {{oneofImplVariable}}.set{{domainFieldMethodSuffix}}(
{{> concrete_field_to_domain}}
                                    );
                    {{/fieldData}}
                {{/mapToDomainField}}
                {{^mapToDomainField}}
                                {{oneofImplClass}} {{oneofImplVariable}} = toDomain(proto.get{{oneOfProtoField}}(), ({{oneofImplClass}}) null);
                {{/mapToDomainField}}
            {{/constructorParameter}}
        {{/builderData}}
    {{/hasConverter}}
                                return {{oneofImplVariable}};
                            }
{{/oneOfFieldsData}}
                            default:
                                throw new IllegalArgumentException("Unknown case type: " + proto.get{{oneofProtoName}}Case());
                        }