{{#concreteFieldData}}
    {{#isNullableProtoType}}
         if(proto.has{{protoFieldPascalCase}}()) {
            domainBuilder.{{domainFieldName}}(
{{> field_to_domain}}            );
         }
    {{/isNullableProtoType}}
    {{^isNullableProtoType}}
        {{#hasSetterPrefix}}
        domainBuilder.{{setterPrefix}}{{domainFieldMethodSuffix}}(
        {{/hasSetterPrefix}}
        {{^hasSetterPrefix}}
        domainBuilder.{{domainFieldName}}(
        {{/hasSetterPrefix}}
{{> field_to_domain}}        );
    {{/isNullableProtoType}}
{{/concreteFieldData}}
{{#oneofFieldData}}
    {{#hasSetterPrefix}}
        domainBuilder.{{setterPrefix}}{{oneofBaseField}}(
    {{/hasSetterPrefix}}
    {{^hasSetterPrefix}}
        domainBuilder.{{domainFieldName}}(
    {{/hasSetterPrefix}}
{{> field_to_domain}}            );
{{/oneofFieldData}}
