{{#useConstructorParams}}
    {{#constructorParameters}}
{{> to_domain_builder_setters}}
    {{/constructorParameters}}
{{/useConstructorParams}}
{{^useConstructorParams}}
    {{#fieldsData}}
{{> to_domain_builder_setters}}
    {{/fieldsData}}
{{/useConstructorParams}}
