    {{#oneofFieldCase}}
    static private {{domainFullName}} toDomain_{{oneofFieldCase}}({{protoClass}} proto) {
    {{/oneofFieldCase}}
    {{^oneofFieldCase}}
    static public {{domainFullName}} toDomain({{protoClass}} proto, {{domainFullName}} ignoredMarker) {
    {{/oneofFieldCase}}
    {{#hasMapper}}
        {{mapperFullName}} mapper = new {{mapperFullName}}();
        return mapper.toDomain(proto);
    {{/hasMapper}}
    {{^hasMapper}}
        {{#oneofBaseClassData}}
        switch (proto.get{{oneofProtoName}}Case()) {
            {{#oneOfFieldsData}}

            case {{oneofFieldCase}}:
                {{#isMessage}}
                return toDomain(proto.get{{oneOfProtoField}}(), ({{oneofImplClass}}) null);
                {{/isMessage}}
                {{^isMessage}}
                return toDomain_{{oneofFieldCase}}(proto);
                {{/isMessage}}
            {{/oneOfFieldsData}}
            default:
                throw new RuntimeException("Unhandled oneof proto field: " + proto.get{{oneofProtoName}}Case());
        }
        {{/oneofBaseClassData}}
        {{^oneofBaseClassData}}
            {{#builderData}}
        var domainBuilder = {{domainFullName}}.{{builderMethodName}}();
{{> to_domain_builder}}
        {{domainFullName}} domain = domainBuilder.{{buildMethodName}}();
            {{/builderData}}
            {{^builderData}}
        {{domainFullName}} domain = new {{domainFullName}}(
                {{#constructorParameters}}
{{> field_to_domain}}{{^isLast}}                ,{{/isLast}}
                {{/constructorParameters}}
        );
            {{/builderData}}

        {{^builderData}}
{{> to_domain_setters}}
        {{/builderData}}
        return domain;
        {{/oneofBaseClassData}}
    {{/hasMapper}}
    }