    static public {{protoClass}} toProto({{domainFullName}} domain) {
    {{#hasMapper}}
        {{mapperFullName}} mapper = new {{mapperFullName}}();
        return mapper.toProto(domain);
    {{/hasMapper}}
    {{^hasMapper}}
        {{#oneofBaseClassData}}
            {{#oneOfFieldsData}}
        if(domain instanceof {{oneofImplClass}}) {
                {{#isMessage}}
            {{#classData}}
            {{protoClass}} protoVal = toProto(({{oneofImplClass}})domain);
            {{/classData}}
            {{protoClass}}.Builder builder = {{protoClass}}.newBuilder();
            builder.set{{oneOfProtoField}}(protoVal);
            return builder.build();
                {{/isMessage}}
                {{^isMessage}}
            return toProto(({{oneofImplClass}})domain);
                {{/isMessage}}
        } else
            {{/oneOfFieldsData}}
        {}
        {{/oneofBaseClassData}}
        {{protoClass}}.Builder builder = {{protoClass}}.newBuilder();
        {{^oneofBaseClassData}}
            {{#constructorParameters}}
{{> field_to_proto}}
            {{/constructorParameters}}
        {{/oneofBaseClassData}}


        {{#fieldsData}}
{{> field_to_proto}}
        {{/fieldsData}}

        return builder.build();
    {{/hasMapper}}
    }